.attraction-block {
    width: 80%;
    background: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.attraction-text h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.attraction-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #1e293b;
    padding-top: 20px;
}

.attraction-text p {
    color: #6B7280;
    line-height: 1.6;
    margin-bottom: 25px;
    text-align: left;

}

.attraction-image img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

@media (max-width: 1200px) {
    .attraction-block {
        width: 80%;
        grid-template-columns: 1fr;
    }
}