.view-control {
    width: 80%;
    margin-top: 25px;
    background: white;
    border-radius: 15px;
    padding: 18px 35px;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-control span {
    color: #6B7280;
    font-size: 20px;
    font-weight: 600;
}
.active-blue-button,
.inactive-blue-button {
    font-weight: bold;
    border: 1px solid #2563eb;
    margin-top: 10px;
}

.active-blue-button {
    background: #fdfdfd;
    color: #2563eb;
}

.inactive-blue-button {
    background: #2563eb;
    color: #fdfdfd;
}
