.passenger-cards {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media (max-width: 1100px) {
    .passenger-cards {
        grid-template-columns: 1fr;
    }
}
