.header {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.back-button {
    justify-self: start;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
    cursor: pointer;
    padding-right: 40px;
}
.header-text h1,p {
    justify-self: center;
    display:flex;
    flex-direction:column;
}

.header-text p {
    padding-top: 20px;
}


@media (max-width: 900px){
    
    .header{
        display:flex;
        flex-direction:column;
    }
    .header-text h1, p{
        text-align:center;
    }
}